body{
    background-color: grey;
    
}
h1{
    font-size: 44;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;

}
h2{
    text-align: center;
    font-weight:bold;
}
h3{
    text-align: center;
}
h6{
    text-align: center;
}
p{
    text-align: center;
}
.myButton {
	background-color:#c744c0;
	border-radius:28px;
    border:1px solid #7d18ab;
    display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
    text-shadow:0px 1px 0px #662761;
}
.myButton:hover {
	background-color:#780396;
}
.myButton:active {
	position: center;
	top:1px;
}

img.displayed {
    background-color: #ddd;
    border-radius: 100%;
    object-fit: cover;
    height: 10cm;
    width: 10cm;
    margin: bold;
    border: 7px solid;
    background-position: center;
    display: block;
    margin-left: auto;
    margin-right: auto; }

    .heart {
        margin: 200px;
        background-color: red;
        height: 200px;
        transform: rotate(-45deg);
        width: 200px;
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .heart:before,
    .heart:after {
        content: "";
        background-color: red;
        border-radius: 50%;
        height: 200px;
        position: absolute;
        width: 200px;
    }

    .heart:before {
        top: -100px;
    }

    .heart:after {
        left: 100px;
    }