body{
    background-color: grey;
    
}
h1{
    text-align: center;
    font-weight:bold;
}
h3{
    text-align: center;
}
h6{
    text-align: center;
}
p{
    text-align: center;
}
button{
    height:50px ;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: bold;
    border: 3px solid;
}
img.displayed {
    background-color: #ddd;
    border-radius: 100%;
    object-fit: cover;
    height: 10cm;
    width: 10cm;
    margin: bold;
    border: 7px solid;
    background-position: center;
    display: block;
    margin-left: auto;
    margin-right: auto; }

    .heart {
        margin: 200px;
        background-color: red;
        height: 200px;
        transform: rotate(-45deg);
        width: 200px;
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .heart:before,
    .heart:after {
        content: "";
        background-color: red;
        border-radius: 50%;
        height: 200px;
        position: absolute;
        width: 200px;
    }

    .heart:before {
        top: -100px;
    }

    .heart:after {
        left: 100px;
    }
